flow.json
[{"id":"3669322e.a3ca8e","type":"inject","z":"3b896eea.27cd82","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["7deaf659.7eb808"]]},{"id":"f8ccf3f4.55d7b","type":"image","z":"3b896eea.27cd82","name":"","width":"120","x":560,"y":200,"wires":[]},{"id":"a9587cca.839f2","type":"debug","z":"3b896eea.27cd82","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":160,"wires":[]},{"id":"7deaf659.7eb808","type":"usbcamera","z":"3b896eea.27cd82","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"5","name":"","x":330,"y":220,"wires":[["f8ccf3f4.55d7b","a9587cca.839f2","d249c8c4.240c48"]]},{"id":"1cc33218.97a4ae","type":"debug","z":"3b896eea.27cd82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":360,"wires":[]},{"id":"fdc7015f.3d65","type":"http request","z":"3b896eea.27cd82","name":"Gyazo request","method":"POST","ret":"txt","paytoqs":false,"url":"https://upload.gyazo.com/api/upload","tls":"","persist":false,"proxy":"","authType":"basic","x":780,"y":360,"wires":[["4e75bb5f.957b94"]]},{"id":"4e75bb5f.957b94","type":"json","z":"3b896eea.27cd82","name":"","property":"payload","action":"","pretty":false,"x":950,"y":360,"wires":[["1cc33218.97a4ae"]]},{"id":"d249c8c4.240c48","type":"change","z":"3b896eea.27cd82","name":"Gyazo setting http","rules":[{"t":"set","p":"imagedata","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"multipart/form-data","tot":"str"},{"t":"set","p":"payload.access_token","pt":"msg","to":"YOUR_ACCESS_TOKEN","tot":"str"},{"t":"set","p":"payload.imagedata.options.filename","pt":"msg","to":"image.png","tot":"str"},{"t":"set","p":"payload.imagedata.value","pt":"msg","to":"imagedata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["fdc7015f.3d65"]]}]
